[Desktop Entry]
Name=Machaera Altus Nox
Comment=Modern colour schemable window decorations
X-KDE-PluginInfo-Author=Oversword
X-KDE-PluginInfo-Email=bionic@oversword.co.uk
X-KDE-PluginInfo-Website=http://www.oversword.co.uk/
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL3
